<header id="nsg-taxi-header-section" style="padding: 1rem; box-shadow: -1px 3px 10px -3px #a9a4a4;">
    <div class="container">
        <div class="nav-header row">
            <a href="javascipt:void(0)" class="js-nsg-taxi-nav-toggle nsg-taxi-nav-toggle dark"><i></i></a>

            <a href="/">
                <img src="/assets/images/company/logo-110-40.png" alt="NSG TAXI LOGO" style="margin-top: .8rem;"/>
            </a>

            <div class="header-phone-icon">
                <a href="tel:01244077634" style="color: white; display: flex; align-items: baseline;" class="phone-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                </a>
            </div>
            <nav id="nsg-taxi-menu-wrap" role="navigation">
                <div class="drawer-hello-text" style="padding: 1rem;">
                    <i class="header-drawer-hello-icon icon-hand" style="font-size: 3rem; margin-right: 1rem;"></i>
                    Hello, Visitor
                </div>
                <ul class="sf-menu" id="nsg-taxi-primary-menu">
                    <li class="<%= (page == "index") ? 'active' : ''; %>"><i class="header-drawer-icons icon-home" style="padding: 1.5rem;"></i><a href="/">Home</a></li>
                    <li class="<%= (page == "hotels") ? 'active' : ''; %>"><i class="header-drawer-icons icon-office" style="padding: 1.5rem;"></i><a href="/hotels">Hotels</a></li>
                    <li class="<%= (page == "packages") ? 'active' : ''; %>"><i class="header-drawer-icons icon-wallet2" style="padding: 1.5rem;"></i><a href="/packages">Packages</a></li>
                    <li class="<%= (page == "about") ? 'active' : ''; %>"><i class="header-drawer-icons icon-" style="padding: 1.5rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                      </svg></i><a href="/about">About</a></li>
                    <li class="<%= (page == "contact") ? 'active' : ''; %>"><i class="header-drawer-icons" style="padding: 1.5rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg></i><a href="/contact">Contact</a></li>
                    <li class="<%= (page == "blogs") ? 'active' : ''; %>"><i class="header-drawer-icons icon-newspaper" style="padding: 1.5rem;"></i><a href="/blogs">Blogs</a></li>
                    <li style="border-right: none;" class="<%= (page == "login") ? 'active' : ''; %>"><i class="header-drawer-icons icon-login" style="padding: 1.5rem;"></i><a href="https://www.dashboard.nsgtaxi.com"
                            target="_blank" class="login-btn" style="color: white; padding: .5rem 1.5rem;">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>