<header id="nsg-taxi-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="javascipt:void(0)" class="js-nsg-taxi-nav-toggle nsg-taxi-nav-toggle dark"><i></i></a>
            <h1 id="nsg-taxi-logo">
                <a href="/">
                    <img src="/assets/images/company/logo-110-40.png" alt="NSG TAXI LOGO" />
                </a>
            </h1>
            <nav id="nsg-taxi-menu-wrap" role="navigation">
                <ul class="sf-menu" id="nsg-taxi-primary-menu">
                    <li class="<%= (page == "index") ? 'active' : ''; %>"><a href="/">Home</a></li>
                    <li class="<%= (page == "hotels") ? 'active' : ''; %>"><a href="/hotels">Hotels</a></li>
                    <li class="<%= (page == "packages") ? 'active' : ''; %>"><a href="/packages">Packages</a></li>
                    <li class="<%= (page == "about") ? 'active' : ''; %>"><a href="/about">About</a></li>
                    <li class="<%= (page == "contact") ? 'active' : ''; %>"><a href="/contact">Contact</a></li>
                    <li class="<%= (page == "blogs") ? 'active' : ''; %>"><a href="/blogs">Blogs</a></li>
                    <li class="<%= (page == "login") ? 'active' : ''; %>"><a href="https://www.dashboard.nsgtaxi.com"
                            target="_blank">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>