<!DOCTYPE html>
<html class="no-js">

<head>
	<% include ./includes/head-meta-tag.ejs %>
		<% include ./includes/head-link-tag.ejs %>
			<% include ./includes/head-script-tag.ejs %>
</head>

<body>
	<% include ./includes/body-no-script-tag.ejs %>
		<div id="nsg-taxi-wrapper">
			<div id="nsg-taxi-page">
				<% include ./includes/header.ejs %>
					<div class="nsg-taxi-hero">
						<div class="nsg-taxi-overlay"></div>
						<div class="nsg-taxi-cover" data-stellar-background-ratio="0.5"
							style="background-image: url('/assets/images/cover_bg_1.jpg');">
							<div class="desc">
								<div class="container">
									<form id="trip_form" autocomplete="off">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
												<div class="tabulation animate-box">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active"
															onClick="outstationTaxi()">
															<a href="#outstation" aria-controls="outstation" role="tab"
																data-toggle="tab">Outstation Taxi</a>
														</li>
														<li role="presentation" onClick="rentalTaxi()">
															<a href="#rental" aria-controls="rental" role="tab"
																data-toggle="tab">Rental Taxi</a>
														</li>
														<input type="hidden" id="booking_type" name="booking_type"
															value="outstation" />
													</ul>
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane active" id="outstation">
															<div class="row">
																<div class="col-xxs-12 col-xs-12 mt">
																	<span class="one-way">
																		<input type="checkbox" class="checkbox-input"
																			id="one_way_trip" name="one_way_trip"
																			onClick="selectTripType()" />
																		<label for="one_way_trip"
																			class="checkbox-label">One
																			Way</label>
																	</span>
																	<span class="round-way">
																		<input type="checkbox" class="checkbox-input"
																			id="round_way_trip" name="round_way_trip"
																			onClick="selectTripType()" />
																		<label for="round_way_trip"
																			class="checkbox-label">Round
																			Trip</label>
																	</span>
																</div>
																<div class="col-xxs-12 col-xs-12 mt">
																	<div class="input-field">
																		<label for="from">From:</label>
																		<input type="text" class="form-control"
																			placeholder="Pickup Location"
																			id="pickup_address" name="pickup_address" />
																		<input type="hidden" id="pickup_latitude"
																			name="pickup_latitude" />
																		<input type="hidden" id="pickup_longitude"
																			name="pickup_longitude" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-12 mt">
																	<div class="input-field">
																		<label for="from">To:</label>
																		<input type="text" class="form-control"
																			placeholder="Drop-off location"
																			id="drop_off_address"
																			name="drop_off_address" />
																		<input type="hidden" id="drop_off_latitude"
																			name="drop_off_latitude" />
																		<input type="hidden" id="drop_off_longitude"
																			name="drop_off_longitude" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-6 mt alternate"
																	id="pickup-date-section">
																	<div class="input-field">
																		<label for="date-start">Pickup Date:</label>
																		<input type="date" class="form-control"
																			id="pickup_date" name="pickup_date"
																			onChange="calculateAmount()"
																			placeholder="DD/MM/YYYY" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-6 mt alternate"
																	id="drop-off-date-section">
																	<div class="input-field">
																		<label for="date-end">Drop-off Date:</label>
																		<input type="date" class="form-control"
																			id="drop_off_date" name="drop_off_date"
																			onChange="calculateAmount()"
																			placeholder="DD/MM/YYYY" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-6 mt"
																	id="pickup-time-section">
																	<section>
																		<label for="class">Pickup Time:</label>
																		<input type="time" class="form-control"
																			placeholder="Select Pickup Time"
																			id="pickup_time" name="pickup_time"
																			onChange="calculateAmount()" />
																	</section>
																</div>
																<div class="col-xxs-12 col-xs-6"
																	id="vehicle-type-section">
																	<section>
																		<label for="class">Vehicle Type:</label>
																		<select class="form-control"
																			placeholder="Select Vehicle Type"
																			id="vehicle_type" name="vehicle_type"
																			onChange="selectVehicleType()">
																			<option value="">Select One</option>
																			<% Object.keys(total_cars).forEach((key)=> {%>
																				<option
																					value="<%= JSON.stringify(total_cars[key]) %>">
																					<%= key %>
																				</option>
																			<% }); %>
																		</select>
																	</section>
																</div>
																<div class="col-xxs-12 col-xs-12"
																	id="vehicle-name-section">
																	<section>
																		<label for="class">Vehicle Name:</label>
																		<select class="form-control"
																			placeholder="Select Vehicle Name"
																			id="vehicle_name" name="vehicle_name"
																			onChange="selectVehicleName()">
																			<option value="">Select One</option>
																		</select>
																	</section>
																</div>
															</div>
														</div>
														<div role="tabpanel" class="tab-pane" id="rental">
															<div class="row">
																<div class="col-xxs-12 col-xs-12 mt">
																	<div class="input-field">
																		<label for="from">Pickup Address:</label>
																		<input type="text" class="form-control"
																			placeholder="Pickup Address"
																			id="rental_pickup_address"
																			name="rental_pickup_address" />
																		<input type="hidden" id="rental_pickup_latitude"
																			name="rental_pickup_latitude" />
																		<input type="hidden"
																			id="rental_pickup_longitude"
																			name="rental_pickup_longitude" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-6 mt alternate">
																	<div class="input-field">
																		<label for="date-start">Pickup Date:</label>
																		<input type="date" class="form-control"
																			id="rental_pickup_date"
																			name="rental_pickup_date"
																			placeholder="DD/MM/YYYY" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-6 mt">
																	<section>
																		<label for="class">Pickup Time:</label>
																		<input type="time" class="form-control"
																			id="rental_pickup_time"
																			name="rental_pickup_time"
																			placeholder="Select Pickup Time" />
																	</section>
																</div>
																<div class="col-xxs-12 col-xs-6 mt">
																	<section>
																		<label for="class">Package Type:</label>
																		<select class="form-control"
																			placeholder="Select Package Type"
																			id="package_type" name="package_type"
																			onChange="calculateRentalAmount()">
																			<option value="1,10">1 Hour - 10 KM</option>
																			<option value="2,20">2 Hour - 20 KM</option>
																			<option value="3,30">3 Hour - 30 KM</option>
																			<option value="4,40">4 Hour - 40 KM</option>
																			<option value="5,50">5 Hour - 50 KM</option>
																			<option value="6,60">6 Hour - 60 KM</option>
																			<option value="7,70">7 Hour - 70 KM</option>
																			<option value="8,80">8 Hour - 80 KM</option>
																			<option value="9,90">9 Hour - 90 KM</option>
																			<option value="10,100">10 Hour - 100 KM
																			</option>
																			<option value="11,110">11 Hour - 110 KM
																			</option>
																			<option value="12,120">12 Hour - 120 KM
																			</option>
																		</select>
																	</section>
																</div>
																<div class="col-xxs-12 col-xs-6"
																	id="vehicle-type-section">
																	<section>
																		<label for="class">Vehicle Type:</label>
																		<select class="form-control"
																			placeholder="Select Vehicle Type"
																			id="rental_vehicle_type"
																			name="rental_vehicle_type"
																			onChange="selectRentalVehicleType()">
																			<option value="">Select One</option>
																			<% Object.keys(total_cars).forEach((key)=> {
																				%>
																				<option
																					value="<%= JSON.stringify(total_cars[key]) %>">
																					<%= key %>
																				</option>
																				<% }); %>
																		</select>
																	</section>
																</div>
																<div class="col-xxs-12 col-xs-12"
																	id="vehicle-name-section">
																	<section>
																		<label for="class">Vehicle Name:</label>
																		<select class="form-control"
																			placeholder="Select Vehicle Name"
																			id="rental_vehicle_name"
																			name="rental_vehicle_name"
																			onChange="selectRentalVehicleName()">
																			<option value="">Select One</option>
																		</select>
																	</section>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pricing-section"
												id="pricing-section">
												<div class="tabulation animate-box">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active">
															<a href="#information" aria-controls="information"
																role="tab" data-toggle="tab">Personal Details</a>
														</li>
													</ul>
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane active" id="information">
															<div class="row">
																<div class="col-xxs-12 col-xs-4">
																	<div class="input-field">
																		<label for="class">Salutation:</label>
																		<select class="form-control"
																			placeholder="Select Salutation"
																			id="salutation" name="salutation">
																			<option title="salutation" value="Mr."
																				selected>Mr.
																			</option>
																			<option title="salutation" value="Mrs.">Mrs.
																			</option>
																			<option title="salutation" value="Ms.">Ms.
																			</option>
																		</select>
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-4 mt">
																	<div class="input-field">
																		<label for="from">First Name:</label>
																		<input type="text"
																			class="form-control text-capitalize"
																			placeholder="First Name" id="first_name"
																			name="first_name" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-4 mt">
																	<div class="input-field">
																		<label for="from">Last Name:</label>
																		<input type="text"
																			class="form-control text-capitalize"
																			placeholder="Last Name" id="last_name"
																			name="last_name" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-4">
																	<div class="input-field">
																		<label for="class">Gender:</label>
																		<select class="form-control"
																			placeholder="Select Gender" id="gender"
																			name="gender">
																			<option title="gender" value="Male"
																				selected>Male
																			</option>
																			<option title="gender" value="Female">Female
																			</option>
																			<option title="gender" value="Other">Other
																			</option>
																		</select>
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-4 mt">
																	<div class="input-field">
																		<label for="from">Mobile:</label>
																		<input type="text" class="form-control"
																			placeholder="Mobile" id="mobile"
																			name="mobile" />
																	</div>
																</div>
																<div class="col-xxs-12 col-xs-4 mt">
																	<div class="input-field">
																		<label for="from">Email:</label>
																		<input type="text" class="form-control"
																			placeholder="Email" id="email"
																			name="email" />
																	</div>
																</div>
																<div
																	class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 distance">
																	<div class="input-field">
																		<div class="left distance-text">Distance</div>
																	</div>
																</div>
																<div
																	class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 distance">
																	<div class="input-field">
																		<div class="right distance-value"
																			id="distance-value">
																			0.00KM
																		</div>
																	</div>
																</div>
																<div
																	class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-start">
																	<div class="input-field">
																		<div class="left">Base Fare</div>
																	</div>
																</div>
																<div
																	class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-start">
																	<div class="input-field">
																		<div class="right" id="amount-value">
																			&#8377;0.00/-
																		</div>
																	</div>
																</div>
																<div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6">
																	<div class="input-field">
																		<div class="left">GST Charge(5%)</div>
																	</div>
																</div>
																<div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6">
																	<div class="input-field">
																		<div class="right" id="tax-value">&#8377;0.00/-
																		</div>
																	</div>
																</div>
																<div
																	class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-end">
																	<div class="input-field">
																		<div class="left">Total Fare</div>
																	</div>
																</div>
																<div
																	class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-end">
																	<div class="input-field">
																		<div class="right amount-right"
																			id="total-value">
																			&#8377;0.00/-</div>
																	</div>
																</div>
																<div
																	class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
																	<div class="input-field">
																		<div class="fare-note" id="fare-note">
																			<strong>Note:</strong> If the car travels
																			between
																			09:00 PM to 06:00 AM, then ₹250 will be
																			charged.
																			This charge should be paid directly to the
																			driver.
																		</div>
																	</div>
																</div>
																<div
																	class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
																	<div class="input-field">
																		<input type="checkbox" class="checkbox-input"
																			id="terms_and_conditions"
																			name="terms_and_conditions"
																			onClick="acceptTermsConditions()" />
																		<label for="terms_and_conditions"
																			class="checkbox-label">
																			I read and accept <a hreflang="en"
																				href="/terms-and-conditions"
																				target="_blank" class="terms-link">Terms
																				& Conditions.</a>
																		</label>
																	</div>
																</div>
																<div
																	class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
																	<input type="submit"
																		class="btn btn-primary btn-block book-now"
																		value="Book Now">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-sm-push-1 col-md-7 col-md-push-1 offer-section"
												id="offer-section">
												<div class="desc2 animate-box">
													<h2>
														<%=page_offer_title%>
													</h2>
													<h3>
														<%=page_offer_description%>
													</h3>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div id="nsg-taxi-features">
						<div class="container">
							<div class="row">
								<div class="col-md-12 text-center animate-box">
									<h2>Our Services</h2><br><br><br>
								</div>
								<div class="col-md-4 animate-box">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-hotairballoon"></i>
										</span>
										<div class="feature-copy">
											<h3>Family Travel</h3>
											<p>We ensure your safety as you do of your family. We have
												come up with some exotic deals and offers for
												the outstation cab to provide ease for all your family
												gateways to amp up your travelling experience without
												curbing your pocket sizes. Spend quality time with loved
												ones, entirely without worrying about a single bit of
												anything.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 animate-box">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-search"></i>
										</span>
										<div class="feature-copy">
											<h3>Travel Plans</h3>
											<p>Feeling jittery while planning your escape from regular
												lifestyle?
												Fret not! This is what we are here for. Disclosing various
												incredible deals and offers that too at unbeatable prices
												for car rental is what we expertise in. Nonetheless,
												offering utmost comfortability and safety while you travel
												with us, is what makes us better than any others.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 animate-box">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-wallet"></i>
										</span>
										<div class="feature-copy">
											<h3>Honeymoon</h3>
											<p>Whether your idea of honeymoon revolves around
												enjoying the water sports, sightseeing or beholding the
												sights of natural vistas, we have a package suiting all your
												needs and requirements!
												Enrich the experience of travelling to some best
												honeymoon destinations, with some of the best deals and
												fantastic honeymoon vacation packages. Book yourself
												an airport taxi to ensure reaching the international
												airport with no further delays.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 animate-box">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-wine"></i>
										</span>
										<div class="feature-copy">
											<h3>Business Travel</h3>
											<p>Register yourself for cheaper and smarter deals and
												packages for all your business travel plans. We act as a
												perfect platform for managing your comfortable
												journeying along with booking your outstation taxi to
												offer utmost ease! Book your cooperate tours with us and
												travel simpler and smarter!</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 animate-box">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-genius"></i>
										</span>
										<div class="feature-copy">
											<h3>Solo Travel</h3>
											<p>Being a travel junkie, there are times when you might
												stumble upon deciding as to which destination to lay
												hands on and also might get jittery while choosing the
												package that suits you and your budget the best. To lessen
												the burden, you can get in touch with our travel experts
												who are at their best when it comes to assisting you with
												all the necessary information relating to driver
												details, cab services etc., is essential for you as a
												traveller to know.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 animate-box">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-chat"></i>
										</span>
										<div class="feature-copy">
											<h3>Explorer</h3>
											<p>Explore the beauties of our mother earth by travelling
												around the world. Enrich the experience of travelling
												comfortably and safely with our outstation taxi
												booking services, while discovering some of the best
												places to plan your escape from the everyday lifestyle.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="nsg-taxi-testimonial">
						<div class="container">
							<div class="row animate-box">
								<div class="col-md-8 col-md-offset-2 text-center nsg-taxi-heading">
									<h2>Happy Clients</h2><br><br><br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="box-testimony animate-box">
										<blockquote>
											<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
											<p>&ldquo;I travelled from lucknow to delhi as i had to urgently attend a
												meet. The
												guy on the line was help full in arranging the cab and managing
												everything.
												Liked the service. They charge you reasonably.&ldquo;</p>
										</blockquote>
										<p class="author">Kulprakash Bhasin</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="box-testimony animate-box">
										<blockquote>
											<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
											<p>&ldquo;Ride is satisfactory. Suggestions its better to provide driver
												with
												knowledge of route and also driver should be obedient and polite to
												customers
												and the driver should not be changed in en-route.&rdquo;</p>
										</blockquote>
										<p class="author">Patel Guleriya</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="box-testimony animate-box">
										<blockquote>
											<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
											<p>&ldquo;The service is very good i have recommend all my friend to use NSG
												The car quality and the driver are good and the main think is that time
												of
												service is very correct because at this time, time important×ave is
												good.&rdquo;
											</p>
										</blockquote>
										<p class="author">Chander Mohan</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="otp_modal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="exampleModalLabel">Verify Your Mobile</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="input-block">
												<div class="input-label">Mobile Verification Code</div>
												<div class="input-box">
													<input type="number"
														placeholder="Please enter mobile verification code"
														class="form-control" id="mobile_code" name="mobile_code" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-primary" id="submit-otp">Submit</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="coupon_modal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<span id="close_modal">X</span>
								<div class="coupon-section" id="coupon-section">
									<img src="/assets/images/hamburger.jpg" alt="Avatar" style="width:100%;">
									<div class="coupon-container" style="background-color:white">
										<h4 class="coupon-title"><b>FLAT 300 OFF ON FIRST RIDE</b></h4>
										<p class="coupon-description">Book cab & get flat 300 off on your first ride.
										</p>
									</div>
									<div class="coupon-container">
										<p class="coupon-code">Use Promo Code: <span>WELCOME300</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="nsg-taxi-home">
						<div class="container">
							<div class="row animate-box">
								<div class="col-md-8 col-md-offset-2 text-center nsg-taxi-heading">
									<h2>NSG TAXI</h2><br><br><br>
								</div>
								<div class="col-md-12 col-sm-12">
									NSGA Travels Pvt. Ltd. Comes together with a motto of bringing together travelers
									and
									qualified travel experts on a common platform.
									By offering a comprehensive map of destinations, we strive to provide the utmost
									ease of
									choosing the desired destination to travel to, following your preferences and pocket
									size.
									<br>
									Regardless of it being your last minute travel plans or a planned itinerary, whether
									it be
									your business trip or a family weekend gateway, we offer unbelievable and incredible
									discount coupons and offers, you would not like missing onto!
									Our team is dedicated to working on their motive of inspiring people to travel more
									and
									enrich their memorable traveling experiences like never before!
								</div>
							</div>
						</div>
					</div>
					<div id="nsg-taxi-tours" class="nsg-taxi-section-gray">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center animate-box">
									<h2 class="featured-route">Featured One Way Route</h2><br><br><br>
								</div>
							</div>
							<div class="row">
								<% for(var i=0; i < total_routes.length; i++) { %>
									<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
										<div class="trip-details">
											<a href="/taxi-booking/<%= total_routes[i].page_url %>">
												<div class="row">
													<div class="col-md-12 col-sm-12 text-left animate-box"
														data-animate-effect="fadeIn">
														<div class="trip-title">
															<%= total_routes[i].route_name %>
														</div>
													</div>
												</div>
											</a>
										</div><br>
									</div>
									<% } %>
							</div>
						</div>
					</div>
					<% include ./includes/footer.ejs %>
			</div>
		</div>
		<script type="text/javascript"
			src="//maps.googleapis.com/maps/api/js?key=AIzaSyCJnen-AB1eM6aoGKKLSnA1cyDIQknzD5Q&libraries=places"></script>
		<% include ./includes/footer-script.ejs %>
			<script src="/assets/js/jquery.validation.js"></script>
			<script src="/assets/js/additional-method.js"></script>
			<script src="/assets/js/booking.js"></script>
</body>

</html>