<div class="specialmargin">
    <span class="specialoffers">
        <marquee behavior=scroll direction="left" scrollamount="8">
            <b>
                <a>Special Offers : </a>
                <a class="grab">Grab them fast, limited time period deals.</a>
            </b>
        </marquee>
    </span>
</div>
<div class="slider">
    <div class="containeroffer" style="background-color: white; ">
        <% for(var i=0; i < total_routes.length; i++) { %>
            <% if (total_routes[i].special_offer == 'Yes' ) { %>
                <div class="cardoffer">
                    <div class="headeroffer">
                        <div class="mainoffer">
                            <h3 class="dest"><u>SPECIAL OFFER</u></h3>
                            <h3 class="dest0">
                                <%= total_routes[i].route_name %>
                            </h3>
                            <h1 class="dest1">Rs. <%= total_routes[i].hatchback_base_fare %>/-</h1>
                        </div>
                    </div>
                    <p class="poffer"><u>OFFER</u> :</p>
                    <p class="textoffer">*<%= total_routes[i].distance %>KMs @ base fare.</p>
                    <p class="textoffer">*Vehicle : Dzire, Xcent, Etios or similar.</p>
                    <p class="textoffer">*Top Notch Service</p>
                    <p class="textoffer">*Safety Assured</p>
                    <div class="contentoffer">
                        <div class="buttons-wrapoffer">
                            <div class="book-wrap">
                                <a href="/taxi-booking/<%= total_routes[i].page_url %>" class="bookoffer">Book</a>
                            </div>
                            <div class="tc-wrap">
                                <a href="/taxi-booking/<%= total_routes[i].blog_url %>" class="tc">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }} %>
    </div>
</div>