<div id="marginid" class="specialmargin">
    <div class="landingpage">
        <div class="offer_title">
            <%=page_offer_title%>
        </div>
        <div class="offer_description">
            <%- page_offer_description %>
        </div>
    </div>
    <div class="specialoffers">
        <b class="specialtext">
            <a class="deal">Get the best Deals and Offers !</a>
        </b>
    </div>
</div>
<div class="slider">
    <div class="containeroffer " style="background-color: white; ">
        <% for(var i=0; i < total_routes.length; i++) { %>
            <% if (total_routes[i].special_offer=='Yes' ) { %>
                <div class="cardoffer">
                    <div class="headeroffer ">
                        <div class="mainoffer ">
                            <h3 class="dest"><u>SPECIAL OFFER</u></h3>
                            <h3 class="dest0">
                                <%= total_routes[i].route_name %>
                            </h3>
                            <h1 class="dest1">Rs. <%= total_routes[i].hatchback_base_fare %>/-</h1>
                        </div>
                    </div>
                    <p class="poffer"><u>OFFER</u> :</p>
                    <p class="textoffer">*<%= total_routes[i].distance %>KMs @ base fare.</p>
                    <p class="textoffer">*Vehicle : Dzire, Xcent, Etios or similar.</p>
                    <p class="textoffer">*Top Notch Service</p>
                    <p class="textoffer">*Safety Assured</p>
                    <div class="contentoffer">
                        <div class="buttons-wrapoffer">
                            <div class="book-wrap">
                                <a href="/taxi-booking/<%= total_routes[i].page_url %>" class="bookoffer">Book Now</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <% }} %>
    </div>
</div>