<div id="marginid" class="specialmargin">
    <div class="landingpage">
        <div class="offer_title">
            <%=page_offer_title%>
        </div>
        <div class="offer_description">
            <%- page_offer_description %>
        </div>
        <h1 >India's Largest Colossal and Local Cab Services</h1>
        <p>We are NSG TAXI enthusiastic and proficient with regards to giving our best administrations to us clients, we realize taxi administration is need of one and all and we need our client's excursion to be without inconvenience and grievance from our customers and with full of contentment. Voyaging is mending and should be without bother with outright solace which our association focuses on and satisfies.  
            We have faith in delivering quality services to every customer. Since our image is set up in more than 250 urban areas in India, we guarantee in each city to give protected, agreeable, clean and adaptability in browsing different accessible choices with a clear charging strategy. 
            </p>
            <br/>
        <h1>Exploring India, one road trip at a time </h1> 
        <p>Road trips are all about excitement, enjoyment, adventure, and enthusiasm. NSG Taxi assure to provide you a perfect memorable trip that doesn’t only drop you at your destination but also enables you to enjoy the journey. With NSG Taxi you can explore all the amazing places that come along the way in the journey. Travel to your dream destination anytime without any second thoughts at the most affordable rates only with NSG Taxi. Our services are available in more than 2500 cities in India. However, we are planning on broadening our service even more. 
            We understand passengers wish to travel and explore different places all over the country and we take care of it more than anything. NSG Taxi is now available in 2500+ cities. You name a place, and we will be available for you with the best service at the most affordable rates. From Delhi to Almora, from Shimla to Kerala, NSG Taxi has got it all. 
            NSG Taxi assures to provide you a safe, smooth, comfortable, fast, reliable taxi service that is also luxurious yet affordable. Book an NSG taxi and travel to some of the most beautiful, amazing places anytime only with NSG Taxi. 
            </p>
            <br/>
        <h1>No matter where you travel - we've got a cab for you. </h1>   
        
        <p>Are you missing your loved ones or been tired from daily jobs and been feeling languorous and no motivation? Well, travel is the best therapy which must be taken occasionally for reconnecting to yourself and to gather peace. NSG TAXI is empathetic and understands it well, therefore we have come up with one way or round-trip online booking cab service to more than 250 cities in India from your doorstep and airport pickup and drop.   
            Our neighbourhood taxi bundles will assist you with the wholesome experience and investigating the fabulous places to eat and drink with mouthwatering food, a portion of the city's grand landmarks, greenest parks and most established sanctuaries. You'll never need to stress over an unfilled travel agenda again. Is it accurate to say that you are an unconventional voyager? Do you just take off and choose to take it from that point? Well, we have it all for you and your family with the finest amenities, dependable chauffeur, affable atmosphere with properly sanitized cabs. Hence, BOOK YOUR RIDE NOW WITH THE FINEST NSG TAXI SERVICES. 
            </p>    
    </div>
    <div class="specialoffers">
        <b class="specialtext">
            <a class="deal">Get the best Deals and Offers !</a>
        </b>
    </div>
</div>
<div class="slider">
    <div class="containeroffer " style="background-color: white; ">
        <% for(var i=0; i < total_routes.length; i++) { %>
            <% if (total_routes[i].special_offer=='Yes' ) { %>
                <div class="cardoffer">
                    <div class="headeroffer ">
                        <div class="mainoffer ">
                            <h3 class="dest"><u>SPECIAL OFFER</u></h3>
                            <h3 class="dest0">
                                <%= total_routes[i].route_name %>
                            </h3>
                            <h1 class="dest1">Rs. <%= total_routes[i].hatchback_base_fare %>/-</h1>
                        </div>
                    </div>
                    <p class="poffer"><u>OFFER</u> :</p>
                    <p class="textoffer">*<%= total_routes[i].distance %>KMs @ base fare.</p>
                    <p class="textoffer">*Vehicle : Dzire, Xcent, Etios or similar.</p>
                    <p class="textoffer">*Top Notch Service</p>
                    <p class="textoffer">*Safety Assured</p>
                    <div class="contentoffer">
                        <div class="buttons-wrapoffer">
                            <div class="book-wrap">
                                <a href="/taxi-booking/<%= total_routes[i].page_url %>" class="bookoffer">Book Now</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <% }} %>
    </div>
</div>