<!DOCTYPE html>
<html class="no-js">

<head>
    <% include ./includes/head-meta-tag.ejs %>
    <% include ./includes/head-link-tag.ejs %>
    <link rel="stylesheet" href="/assets/css/package.css">
    <% include ./includes/head-script-tag.ejs %>
</head>

<body>
    <% include ./includes/body-no-script-tag.ejs %>
    <div id="nsg-taxi-wrapper">
        <div id="nsg-taxi-page">
            <% include ./includes/header.ejs %>
            <div id="nsg-taxi-package-booking" class="nsg-taxi-section-gray">
                <div class="container package-booking-container">
                    <input type="hidden" id="package_amount" name="package_amount" value="<%= package_plans[0].package_plan_fare %>" />
                    <input type="hidden" id="package_document_id" name="package_document_id" value="<%= document_id %>" />
                    <input type="hidden" id="package_owner_mobile" name="package_owner_mobile" value="<%= owner_mobile %>" />
                    <input type="hidden" id="package_name" name="package_name" value="<%= package_name %>" />
                    <input type="hidden" id="package_location" name="package_location" value="<%= package_location %>" />
                    <input type="hidden" id="package_quotation" name="package_quotation" value="<%= package_quotation %>" />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 animate-box" data-animate-effect="fadeIn">
                            <div class="package-details">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12 package-image-collection" id="image-preview">
                                        <img src="<%= package_image %>" class="package-large-image"
                                            alt="<%= package_image_name %>" />
                                    </div>
                                    <% for(var i=0; i <= 5; i++) { %>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2 package-image-collection">
                                        <% if(package_image_collections[i]) { %>
                                        <img src="<%= package_image_collections[i].package_image %>" class="package-sort-image"
                                            alt="<%= package_image_collections[i].package_image_name %>" onClick="displayImagePreview('<%= package_image_collections[i].package_image %>', '<%= package_image_collections[i].package_image_name %>')" />
                                        <% } else { %>
                                            <img src="<%= package_image %>" class="package-sort-image"
                                            alt="<%= package_image_name %>" onClick="displayImagePreview('<%= package_image %>', '<%= package_image_name %>')"/>
                                        <% } %>
                                    </div>
                                    <% } %>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="package-booking-name">
                                            <%= package_name %>(
                                            <span class="package-booking-rating">
                                                <% for(var j=0; j < package_rating; j++) { %>
                                                <i class="icon-star-full"></i>
                                                <% } %>
                                                <% for(var j=0; j < 5 - package_rating; j++) { %>
                                                <i class="icon-star-empty"></i>
                                                <% } %>
                                            </span>)
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="package-booking-location">
                                            <%= package_location %>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 animate-box">
                                        <div class="package-booking-services">
                                            <% for(var j=0; j < package_services.length; j++) { %>
                                            <span class="package-service">✓
                                                <%= package_services[j].package_service %></span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-start ">
                                        <div class="input-field">
                                            <div class="left">Base Amount</div>
                                        </div>
                                    </div>
                                    <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-start">
                                        <div class="input-field">
                                            <div class="right" id="amount-value">&#8377;0.00/-
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6">
                                        <div class="input-field">
                                            <div class="left">GST Amount</div>
                                        </div>
                                    </div>
                                    <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6">
                                        <div class="input-field">
                                            <div class="right" id="tax-value">&#8377;0.00/-
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-end">
                                        <div class="input-field">
                                            <div class="left">Total Fare</div>
                                        </div>
                                    </div>
                                    <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 fare-section-end">
                                        <div class="input-field">
                                            <div class="right amount-right" id="total-value">
                                                &#8377;0.00/-</div>
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 fare-section-end">
                                        <div class="package-quotation-title"><strong>Note:</strong><span
                                                class="package-quotation"><%= package_quotation %></span></div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 animate-box" data-animate-effect="fadeIn">
                            <form id="package_form" autocomplete="off">
                                <div class="personal-details">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <section>
                                                    <label for="salutation">Salutation:</label>
                                                    <select class="form-control" placeholder="Select Salutation"
                                                        id="salutation" name="salutation">
                                                        <option title="salutation" value="Mr.">Mr.</option>
                                                        <option title="salutation" value="Ms.">Ms.</option>
                                                        <option title="salutation" value="Mrs.">Mrs.</option>
                                                    </select>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="first_name">First Name:</label>
                                                <input type="text" class="form-control text-capitalize"
                                                    placeholder="First Name" id="first_name" name="first_name" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="last_name">Last Name:</label>
                                                <input type="text" class="form-control text-capitalize"
                                                    placeholder="Last Name" id="last_name" name="last_name" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="mobile">Mobile:</label>
                                                <input type="text" class="form-control" placeholder="Mobile" id="mobile"
                                                    name="mobile" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="email">Email:</label>
                                                <input type="text" class="form-control" placeholder="Email" id="email"
                                                    name="email" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="package_type">Package Type:</label>
                                                <select class="form-control" placeholder="Select Package Type"
                                                    id="package_type" name="package_type" onChange="selectPrice()">
                                                    <% for(var j=0; j < package_plans.length; j++) { %>
                                                        <option title="<%= package_plans[j].package_plan_type %>" value="<%= package_plans[j].package_plan_type %>-<%= package_plans[j].package_plan_fare %>"><%= package_plans[j].package_plan_type %> - <%= package_plans[j].package_plan_type_description %></option>
                                                    <% } %>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="start_date">Start Date:</label>
                                                <input type="date" class="form-control" id="start_date"
                                                    name="start_date" onChange="calculateFinalAmount()"
                                                    placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="end_date">End Date:</label>
                                                <input type="date" class="form-control" id="end_date"
                                                    name="end_date" onChange="calculateFinalAmount()"
                                                    placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="adults">Adults:</label>
                                                <select class="form-control" placeholder="Select Adults" id="adults"
                                                    name="adults" onChange="calculateFinalAmount()">
                                                    <option title="adults" value="1">1</option>
                                                    <option title="adults" value="2">2</option>
                                                    <option title="adults" value="3">3</option>
                                                    <option title="adults" value="4">4</option>
                                                    <option title="adults" value="5">5</option>
                                                    <option title="adults" value="6">6</option>
                                                    <option title="adults" value="7">7</option>
                                                    <option title="adults" value="8">8</option>
                                                    <option title="adults" value="9">9</option>
                                                    <option title="adults" value="10">10</option>
                                                    <option title="adults" value="11">11</option>
                                                    <option title="adults" value="12">12</option>
                                                    <option title="adults" value="13">13</option>
                                                    <option title="adults" value="14">14</option>
                                                    <option title="adults" value="15">15</option>
                                                    <option title="adults" value="16">16</option>
                                                    <option title="adults" value="17">17</option>
                                                    <option title="adults" value="18">18</option>
                                                    <option title="adults" value="19">19</option>
                                                    <option title="adults" value="20">20</option>
                                                    <option title="adults" value="21">21</option>
                                                    <option title="adults" value="22">22</option>
                                                    <option title="adults" value="23">23</option>
                                                    <option title="adults" value="24">24</option>
                                                    <option title="adults" value="25">25</option>
                                                    <option title="adults" value="26">26</option>
                                                    <option title="adults" value="27">27</option>
                                                    <option title="adults" value="28">28</option>
                                                    <option title="adults" value="29">29</option>
                                                    <option title="adults" value="30">30</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="children">Children:</label>
                                                <select class="form-control" placeholder="Select Children" id="children"
                                                    name="children" onChange="calculateFinalAmount()">
                                                    <option title="children" value="0">0</option>
                                                    <option title="children" value="1">1</option>
                                                    <option title="children" value="2">2</option>
                                                    <option title="children" value="3">3</option>
                                                    <option title="children" value="4">4</option>
                                                    <option title="children" value="5">5</option>
                                                    <option title="children" value="6">6</option>
                                                    <option title="children" value="7">7</option>
                                                    <option title="children" value="8">8</option>
                                                    <option title="children" value="9">9</option>
                                                    <option title="children" value="10">10</option>
                                                    <option title="children" value="11">11</option>
                                                    <option title="children" value="12">12</option>
                                                    <option title="children" value="13">13</option>
                                                    <option title="children" value="14">14</option>
                                                    <option title="children" value="15">15</option>
                                                    <option title="children" value="16">16</option>
                                                    <option title="children" value="17">17</option>
                                                    <option title="children" value="18">18</option>
                                                    <option title="children" value="19">19</option>
                                                    <option title="children" value="20">20</option>
                                                    <option title="children" value="21">21</option>
                                                    <option title="children" value="22">22</option>
                                                    <option title="children" value="23">23</option>
                                                    <option title="children" value="24">24</option>
                                                    <option title="children" value="25">25</option>
                                                    <option title="children" value="26">26</option>
                                                    <option title="children" value="27">27</option>
                                                    <option title="children" value="28">28</option>
                                                    <option title="children" value="29">29</option>
                                                    <option title="children" value="30">30</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                            <div class="input-field">
                                                <label for="message">Message(Optional):</label>
                                                <input type="text" class="form-control" id="message" name="message"
                                                    placeholder="Any special message" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                            <div class="input-field">
                                                <input type="checkbox" class="checkbox-input" id="terms_and_conditions"
                                                    name="terms_and_conditions" onClick="acceptTermsConditions()" />
                                                <label for="terms_and_conditions" class="checkbox-label">
                                                    I read and accept <a hreflang="en" href="/terms-and-conditions"
                                                        target="_blank" class="terms-link">Terms & Conditions.</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <input type="submit" class="btn btn-primary btn-block book-now"
                                                value="Book Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 fare-section-end">
                            <div class="package-booking-description">
                                Package Details
                            </div>
                            <div class="package-booking-description-content">
                                <%- package_content %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="otp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Verify Your Mobile</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-block">
                                        <div class="input-label">Mobile Verification Code</div>
                                        <div class="input-box">
                                            <input type="number" placeholder="Please enter mobile verification code"
                                                class="form-control" id="mobile_code" name="mobile_code" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="submit-otp">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./includes/footer.ejs %>
        </div>
    </div>
    <% include ./includes/footer-script.ejs %>
    <script src="/assets/js/jquery.validation.js"></script>
    <script src="/assets/js/additional-method.js"></script>
    <script src="/assets/js/package-booking.js"></script>
</body>