<html>
   <head>
      <title>Show Payment Page</title>
   </head>
   <body>
      <center>
         <h1>Please do not refresh this page...</h1>
      </center>
      <form method="post" action="<%= transaction_url %>/theia/api/v1/showPaymentPage?mid=<%= merchant_id %>&orderId=<%= order_id %>" name="paytm">
         <table border="1">
            <tbody>
               <input type="hidden" name="mid" value="<%= merchant_id %>">
               <input type="hidden" name="orderId" value="<%= order_id %>">
               <input type="hidden" name="txnToken" value="<%= transaction_token %>">
            </tbody>
         </table>
         <script type="text/javascript"> document.paytm.submit(); </script>
      </form>
   </body>
</html>