<!DOCTYPE html>
<html class="no-js">

<head>
    <% include ./includes/head-meta-tag.ejs %>
    <% include ./includes/head-link-tag.ejs %>
    <link rel="stylesheet" type="text/css" href="/assets/css/payment.css" />
    <% include ./includes/head-script-tag.ejs %>
</head>

<body>
    <% include ./includes/body-no-script-tag.ejs %>
    <div id="nsg-taxi-wrapper">
        <div id="nsg-taxi-page">
            <% include ./includes/header.ejs %>
            <div class="payment-section">
                <div class="payment-content">
                    <div class="row common-class">
                        <input type="hidden" id="document_id" value="<%= document_id %>">
                        <input type="hidden" id="total_fare" value="<%= total_fare %>">
                        <input type="hidden" id="name" value="<%= first_name %> <%= last_name %>">
                        <input type="hidden" id="email" value="<%= email %>">
                        <input type="hidden" id="mobile" value="<%= mobile %>">
                        <input type="hidden" id="cash_payment" value="<%= cash_payment %>">
                        <input type="hidden" id="full_payment" value="<%= full_payment %>">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 common-class">
                            <div class="booking-payment">Payment Confirmation</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>Name:</b> <%= first_name %> <%= last_name %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>Mobile:</b> +91<%= mobile %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>Email:</b> <%= email %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>Trip Details:</b> <%= trip_type %> - <%= car_type %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>From:</b> <%= pickup_address %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>To:</b> <%= drop_off_address %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>Distance:</b> <%= actual_distance %> KM</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="description"><b>Date:</b> <%= pickup_date %>, <%= pickup_time %></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="promo-code">
                                <% if (discount_amount > 0) { %>
                                <div class="amount-section">
                                    <b>Amount:</b> <span
                                        class="total-value">&#8377;<%= full_payment %>.00/-<sup><del>(&#8377;<%= total_fare %>.00/-)</del></sup></span><br>
                                    <small>(Promo code applied worth &#8377;<%= discount_amount %>.00/-)</small>
                                </div>
                                <%} else { %>
                                <div class="amount-section">
                                    <b>Amount:</b> <span class="total-value">&#8377;<%= total_fare %>.00/-</span>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 common-class">
                            <div class="promo-code">
                                <% if (discount_amount > 0) { %>
                                <input type="text" class="promo-code-input" id="code" value="<%= discount_code %>"
                                    readonly="true" placeholder="Promo Code">
                                <span class="promo-code-button" id="remove-promo-code">Remove</span>
                                <%} else { %>
                                <input type="text" class="promo-code-input" id="code" placeholder="Promo Code">
                                <span class="promo-code-button" id="apply-promo-code">Apply</span>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 common-class">
                            <div class="important">
                                <b>Important: </b><br><br>
                                <span>1. In the case of cash payment, you have to pay <b>&#8377;<%= cash_payment %>.00/-</b> online. The remaining amount will be paid to the driver directly.</span><br><br>
                                <span>2. In the case of full payment, you have to pay <b>&#8377;<%= full_payment %>.00/-</b> online. The remaining amount will be paid to the driver directly, if applicable.</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 common-class">
                            <div class="pay-now-cash" id="pay-cash-payment">
                                <a hreflang="en" href="javascipt:void(0)">Cash Payment</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 common-class">
                            <div class="pay-now-online" id="pay-full-payment">
                                <a hreflang="en" href="javascipt:void(0)">Full Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./includes/footer.ejs %>
        </div>
    </div>
    <% include ./includes/footer-script.ejs %>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script type="text/javascript" src="/assets/js/payment.js"></script>
</body>